<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090724911560-7m6n7u4k9o3oqf7klj88u23cdaa80hcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090724911560-7m6n7u4k9o3oqf7klj88u23cdaa80hcl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090724911560-gf5k73bhv94fie2f5bv2mt8hchpk1p1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt3W0fvBwJoPvn1ViiXyDJcK3pa1P7gFc</string>
	<key>GCM_SENDER_ID</key>
	<string>1090724911560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zruriFlutter</string>
	<key>PROJECT_ID</key>
	<string>zruriapp</string>
	<key>STORAGE_BUCKET</key>
	<string>zruriapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090724911560:ios:fdebddc6fee2da0f6548fd</string>
</dict>
</plist>